.menu{


width:100%;

background-color:black;
/*ngjyra ne background*/
}
/* vlen vetem per clasen menu dhe atributin 'a' */
.menu a{
float:left;
text-align:center;
font-family: Arial;
transition: 0.3s;
width:8.5%;
padding:2px 5;
     text-decoration: none;
color:whitesmoke;
font-size:13px;
  
}
.menu a:hover{
background-color:darkgray;
}


