
p1,p2 {
    position: absolute;
    top: 820px;
    left: 100px;
}
p3,p4{
    position: absolute;
    top: 820px;
    right: 100px;
    
}
p5,p6{
   
    position: absolute;
    left: 590px;
    top: 820px;
}
p7,p8{
position: relative;
 
    right: 450px;
    top: 1200;

}
p9,p10{
    position: relative;
     
    bottom: -100px;
    left: 33px;
}
p11,p12{
    position: relative;
     text-align-last: right;
     
    left: 524px;
    bottom: 30px;
}
table{
    width: 100%;
}
th{
    text-align: left;
    padding: 10px;
}
a {
   color:orange;
}