* {
   margin: 0;
    padding: 0;
    
}
body{
    background-image: url();
}
nav{
    width:100%;
    height: 60px;
    background-color: black;
}
nav p {
    font-family: arial;
    color: whitesmoke;
    font-size:24px;
    line-height: 55px;
    float: left;
    padding: 0px 20px;
}
nav ul{
    float: left;
}
nav ul li{
    float: left;
    list-style: none;
    position: relative;
}
nav ul li a{
    font-family: arial;
    color: whitesmoke;
    font-size:14px;
    padding: 22px 14px;
    display: block;
    text-decoration: none;
}
nav ul li ul{
    display: none;
    position: absolute;
    background-color: black;
    padding: 10px;
    border-radius:0px 0px 4px 4px;
    z-index: 1;
}
nav ul li:hover ul{
    display: block;
}
nav ul li ul li a{
    padding: 8px 14px;
}
nav ul li ul li {
    width: 180px;
    border-radius:4px; 
}
nav ul li ul li a:hover{
    background-color: #006600;
}